<!doctype html>
<html>
<head>
	<title>Weborrent</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">	
</head>
<body>
	<span><img src="/img/under_construction.png" style="float: left;"></span>
	<div class="github-fork-ribbon-wrapper right">
	    <div class="github-fork-ribbon">
	        <a href="https://github.com/ybbkrishna/weborrent">Fork me on GitHub</a>
	    </div>
	</div>
<div class="alert alert-warning">This site is under construction and is not fully fuctional.</div>

<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span>Weborrent</h1>		
	</div>

	<div class="text-center">
		<p>Whats Going on? - Checkout below!</p>		
	</div>
	
	<div class="text-center social-media">
		<a href="https://github.com/ybbkrishna/weborrent"><img src="/img/github.png" alt="github" title="Github"></a>		
		<a href="#"><img src="/img/twitter.png" title="Twitter"></a>
		<a href="#"><img src="/img/facebook.png" title="Facebook"></a>
		<a href="#"><img src="/img/googleplus.png" title="Google+"></a>
	</div>
</div>
</body>
</html>